.header{
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 25vw;
    font-size: 25px;
    border-bottom: 1px solid $black;
}
.links{
    margin-left: auto;
    color:$darkgray;
    a{
        margin: 0 10px;
        &:hover{
            text-decoration: underline;
        }
    }
}